# This file lists other files that we don't want to end up
# in git. So here we tell git to ignore there

# The file that contains our Twitter dev account login information
authorization_tokens.py

# Some Python internal stuff that we can also ignore
__pycache__
